**/build
**/PDF
*.synctex.gz
*.log
*.aux
*.out
*.auxlock
*.bbl
*.bcl
*.bcf
*.blg
*.nav
*.snm
*.run.xml
*.toc
**/.ipynb_checkpoints
.DS_Store
.directory
organizer.sh
git.sh
**/.idea
**/.vscode
**/venv
**/__pycache__
